.pageHeader {
  color: white;
  text-align: center;
  font-size: xx-large;
  font-family: "Codystar";
}

.returnButton {
  color: white;
  font-family: "Codystar";
  left: 50px;
  top: 40px;
  background-color: rgb(255, 255, 255, 0.2);
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 30px;
  margin-top: 3rem;
}
.returnButton:hover {
  background-color: rgb(255, 255, 255, 0.4);
}

.inputContainer {
  flex-direction: row;
  display: flex;
  align-content: center;
  align-items: center;
  padding: 25vh 5% 10px;
}

.inputs {
  display: flex;
  margin: 1%;
}
.button {
  font-family: "Codystar";
  background: rgb(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-top: 3rem;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
