.button {
  border-width: 1px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  padding: 0.5em 1em;
  margin-top: 5%;
  color: white;
  font-family: "Codystar";
  background-color: rgba(255, 255, 255, 0.1);
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.button:focus {
  outline: none;
}
