.genreContainer {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 2%;
}
.listContainer {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.genreItems,
.skeletonGenreItems {
  overflow: hidden;
  flex-direction: column;
  border-radius: 0.25rem;
  display: flex;
  padding: 2rem 1rem 1rem 1.5rem;
  box-sizing: content-box;
  align-content: flex-start;
  text-align: center;
  max-width: 100px;
  font-family: "Codystar";
  font-size: 85%;
}
.skeletonGenreItems {
  height: 60px;
  width: 100px;
}

.genreItems:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  transition: 0.5s;
  cursor: pointer;
}
.genreItems:not(:hover) {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  transition: 0.5s;
}
.playlistHeader {
  text-align: center;
  color: white;
  font-family: "Codystar";
}

.returnButton {
  border-width: 1px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  padding: 0.5em 1em;
  left: 50px;
  top: 40px;
  background-color: rgb(255, 255, 255, 0.1);
  margin-top: 2rem;
}

.returnButton:hover {
  background: rgb(255, 255, 255, 0.2);
}

.returnButton:focus {
  outline: none;
}
