html,
body::before {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #ffffff;
  max-width: 100%;
  height: 100%;
  background-size: cover;
  background: #15161e;
}
body:after {
  content: "";
  position: fixed;
  background-image: url("/Lights.jpg");
  background-size: cover;
  opacity: 0.4;
  z-index: -1;
  top: 0;
  height: 100vh;
  left: 0;
  right: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.searchBody {
  padding: 25vh 5% 10px;
  text-align: center;
}

.spotifySignIn {
  border-width: 1px;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  padding: 9px;
  margin-top: 2%;
}

.spotifySignIn:hover {
  cursor: pointer;
}

.headerTitle {
  color: aqua;
  font-size: 40;
  text-align: "start";
}

.functionButtons {
  padding: 5px 10px;
  margin-right: 1%;
  text-align: center;
}
.skeleton {
  background-color: rgb(8, 28, 34);
  margin: 10px 0;
  border-radius: 4px;
}
.skeleton-wrapper {
  background: rgb(8, 28, 34);
  margin-left: 5%;
  margin-right: 2%;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.skeleton.text {
  width: 100%;
  height: 12px;
}

.skeleton.title {
  width: 40%;
  margin-left: 5%;
  height: 20px;
  background-color: gray;
  border-radius: 25px;
}

.skeleton.artist {
  width: 60%;
  margin-left: 5%;
  height: 20px;
  background-color: gray;
  border-radius: 25px;
}

.skeleton.songBG {
  display: flex;
  position: relative;
  height: 225px;
  width: 225px;
}

.skeleton.songImage {
  background: grey;
}

.skeleton.SongItem {
  display: flex;
  flex-direction: column;
  background-color: rgb(8, 28, 34);
  border: 1px solid black;
  position: relative;
}

@media only screen and (min-width: 900px) {
  .skeleton.songDetails {
    display: flex;
    flex-direction: column;
    background-color: rgb(8, 28, 34);
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border: 1px solid black;
    position: relative;
  }
}

@media only screen and (max-width: 900px) {
  .skeleton.songDetails {
    flex: 100%;
  }

  .skeleton.songItems {
    width: 25%;
    overflow: hidden;
    border-radius: 0.25rem;
    margin-bottom: 3%;
    display: flex;
    padding: 1rem 40px 1rem 1rem;
    position: relative;
  }
}

@media only screen and (max-width: 750px) {
  .skeleton.songDetails {
    flex: 100%;
  }

  .skeleton.songItems {
    width: 33%;
    overflow: hidden;
    border-radius: 0.25rem;
    margin-bottom: 3%;
    display: flex;
    padding: 1rem 40px 1rem 1rem;
    position: relative;
  }
}

@media only screen and (max-width: 600px) {
  .skeleton.songDetails {
    flex: 100%;
  }

  .skeleton.songItems {
    width: 50%;
    overflow: hidden;
    border-radius: 0.25rem;
    margin-bottom: 3%;
    display: flex;
    padding: 1rem 40px 1rem 1rem;
    position: relative;
  }
}

@media only screen and (max-width: 400px) {
  .skeleton.songDetails {
    display: flex;
  }

  .skeleton.songItems {
    width: 100%;
    overflow: hidden;
    border-radius: 0.25rem;
    margin-bottom: 3%;
    padding: 1rem 40px 1rem 1rem;
    position: relative;
  }
}

.animation-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: loading 2.5s infinite;
}

.animation {
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.07);
  transform: skewX(20deg);
  box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.02);
}

@keyframes loading {
  0% {
    transform: translateX(-150%);
  }
  50% {
    transform: translateX(100%);
  }
  70% {
    opacity: 0;
  }
  100% {
    transform: translateX(-150%);
  }
}
