.songContainer {
  margin: 5% auto;
  display: flex;
  flex-wrap: wrap;
}

.songItems {
  width: 20%;
  overflow: hidden;
  border-radius: 0.25rem;
  margin-bottom: 3%;
  display: flex;
  padding: 1rem 40px 1rem 1rem;
  position: relative;
}

.songImages {
  display: flex;
  position: relative;
}

.songDetails {
  display: flex;
  flex-direction: column;
  background-color: rgb(8, 28, 34);
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  border: 1px solid black;
  position: relative;
}

@media only screen and (min-width: 900px) {
  .songDetails {
    display: flex;
    flex-direction: column;
    background-color: rgb(8, 28, 34);
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border: 1px solid black;
    position: relative;
  }
}

@media only screen and (max-width: 900px) {
  .songDetails {
    flex: 100%;
  }

  .songItems {
    width: 25%;
    overflow: hidden;
    border-radius: 0.25rem;
    margin-bottom: 3%;
    display: flex;
    padding: 1rem 40px 1rem 1rem;
    position: relative;
  }
}

@media only screen and (max-width: 750px) {
  .songDetails {
    flex: 100%;
  }

  .songItems {
    width: 33%;
    overflow: hidden;
    border-radius: 0.25rem;
    margin-bottom: 3%;
    display: flex;
    padding: 1rem 40px 1rem 1rem;
    position: relative;
  }
}

@media only screen and (max-width: 600px) {
  .songDetails {
    flex: 100%;
  }

  .songItems {
    width: 50%;
    overflow: hidden;
    border-radius: 0.25rem;
    margin-bottom: 3%;
    display: flex;
    padding: 1rem 40px 1rem 1rem;
    position: relative;
  }
}

@media only screen and (max-width: 400px) {
  .songDetails {
    display: flex;
  }

  .songItems {
    width: 100%;
    overflow: hidden;
    border-radius: 0.25rem;
    margin-bottom: 3%;
    padding: 1rem 40px 1rem 1rem;
    position: relative;
  }
}

.trackName {
}

.artistName {
  color: rgb(14, 137, 158);
  font-weight: 800;
}

.nothovered {
  display: none;
}

.hovered {
  display: flex;
  margin: auto;
}

.reactiveButton {
  position: absolute;
  top: 15%;
  left: 15%;
  z-index: 10;
}

.playlistHeader {
  text-align: center;
  color: white;
  font-family: "Codystar";
}

.returnButton {
  color: white;
  font-family: "Codystar";
  left: 20px;
  top: 40px;
  position: absolute;
}
