html,
body::before {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #ffffff;
  max-width: 100%;
  height: 100%;
  background-size: cover;
  background: #15161e;
}
body:after {
  content: "";
  position: fixed;
  background-image: url("/Lights.jpg");
  background-size: cover;
  opacity: 0.4;
  z-index: -1;
  top: 0;
  height: 100vh;
  left: 0;
  right: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.searchBody {
  padding: 25vh 5% 50px;
  text-align: center;
}

li:hover {
  background-color: #8d8d8d;
  cursor: pointer;
  font-weight: 700;
}
.predictionList li:not(:last-of-type) {
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
}
.predictionList {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 300px;
  overflow-y: auto;
  padding-left: 0;
  background-color: rgba(241, 247, 247, 0.39);
  width: calc(284px + 1rem);
}

.predictionList li {
  padding: 0.5rem;
}

.spotifySignIn {
  border-width: 1px;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  padding: 9px;
  margin-top: 2%;
}

.spotifySignIn:hover {
  cursor: pointer;
}
