.songContainer {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 2%;
  display: flex;
  flex-wrap: wrap;
}

.songItems {
  width: 20%;
  overflow: hidden;
  border-radius: 0.25rem;
  margin-bottom: 3%;
  display: flex;
  padding: 1rem 40px 1rem 0;
  position: relative;
}

.songImages {
  display: flex;
  position: relative;
}

.songDetails {
  display: flex;
  flex-direction: column;
  background-color: rgb(8, 28, 34);
  width: 70%;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  border: 1px solid black;
  margin-left: 4%;
  position: relative;
  -webkit-transform: translateY(-50%);
}

.trackName {
}

.artistName {
  color: rgb(14, 137, 158);
  font-weight: 800;
}

.nothovered {
  display: none;
}

.hovered {
  display: flex;
  margin: auto;
}

.reactiveButton {
  top: 15%;
  left: 15%;
  position: absolute;
  z-index: 10;
}
